
.container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.exchange {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2em;
}

.timestamp {
    font-family: sans-serif;
    font-weight: 100;
    font-size: inherit;
    align-self: flex-end;
    margin: 0 10px;
}
